chevron==0.14.0
fire==0.6.0
inflect==7.5.0
jsonschema==4.26.0
kenlm==0.3.0
language_tool_python==2.9.5
nltk==3.9.2
ollama==0.6.1
openai==2.15.0
orjson==3.11.5
pandas==3.0.0
python-dotenv==1.2.1
PyYAML==6.0.3
Requests==2.32.5
sentencepiece==0.2.1
spacy==3.8.11
toml==0.10.2
torch==2.8.0
transformers==4.57.6
