name: Unit-tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install packages
        run: |
            pip install -r requirements.txt
            pip install pytest coverage

      - name: Run tests with coverage
        run: coverage run -m pytest tests

      - name: Generate coverage reports
        run: |
            coverage xml -i
            coverage report -m
