name: Unit-tests
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install packages
        run: |
            pip install -r requirements.txt
            pip install pytest pytest-cov

      - name: Run tests with coverage
        run: pytest --durations=10 --maxfail 10 --cov=./hmeg --cov-report term-missing --tb native ./tests
